<a href="https://colab.research.google.com/github/neklyud/programming_miem/blob/master/Roman_numerals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Roman numerals

## I. Roman numerals to decimals

Write a function which receives a Roman numeral written out as a string, and returns an integer representing the decimal form of the input number.

In [0]:
mapping = {"I" : 1, 
           "V" : 5,
           "X" : 10,
           "L" : 50,
           "C" : 100,
           "D" : 500,
           "M" : 1000}

In [0]:
print(list(mapping.keys())[list(mapping.values()).index(1)])

I

In [0]:
def roman_to_decimal(rom):
    """Convert a Roman numeral to decimal.
    
    Parameters
    ----------
    rom : str
        A Roman numeral representing a positive integer.
        
    Returns
    -------
    dec : int
        The result of conversion of `rom` into a decimal system.
    """
    if len(rom) == 1:
      return mapping[rom]
    dec = 0
    index = 1
    #Используется для обозначения действия на предыдущем шаге. Допустимые значения - None (не было действий), Subtraction (Вычитание), Adding(сложение)
    if mapping[rom[0]] >= mapping[rom[1]]:
      flag = 'Adding'
      dec += mapping[rom[0]]
    else:
      flag = 'Subtraction'
      dec += mapping[rom[1]] - mapping[rom[0]]
    for it,symbol in enumerate(rom[1:]):
      if flag == 'Adding':
        if index == len(rom) - 1:
          dec += mapping[symbol]
          break
        if mapping[symbol] >= mapping[rom[index+1]]:
          dec += mapping[symbol]
          flag = 'Adding'
        else:
          dec += mapping[rom[index+1]] - mapping[symbol]
          flag = 'Subtraction'
      else:
        if index == len(rom) - 1:
          break
        if mapping[symbol] >= mapping[rom[index+1]]:
          flag = 'Adding'
          index += 1
          continue
        else:
          dec += mapping[rom[index+1]] - mapping[symbol]
          flag = 'Subtraction'
      index += 1
    #print(dec)
    return dec

Here are some tests for you to test your code. Your code must pass all of them. You also need to come up with several more tests (your choice).

In [0]:
test_pairs = [("IX", 9), ("XI", 11), ("MCCII", 1202), ("MMXVIII", 2018), ("XLIX", 49),
              ("XVIIII", 19), ("XIX", 19), ("MCDXLIV", 1444), ("MCMXCIX", 1999)]

for rom, dec in test_pairs:
    converted = roman_to_decimal(rom)
    print(converted == dec)

True
True
True
True
True
True
True
True
True

Now you can run tests in file `tests_Roman_numerals.txt`. You need to insert a number of false results and listed false results in respective field in Google Form for this lesson.

In [0]:
p = "tests_roman_to_decimal.txt"
with open(p, "rb") as fp:
    lines=fp.readlines()

test_data = [line.strip().decode("ascii").split(',') for line in lines]
test_data = [(line[0], int(line[1])) for line in test_data]

for rom, dec in test_data:
    converted = roman_to_decimal(rom)
    print(converted == dec, dec)

True 287
True 113
True 1813
True 65
True 1762
True 973
True 1685
True 826
True 145
True 1587
True 1991
True 79
True 862
True 1102
True 1750
True 741
True 1613
True 554
True 1731
True 52
True 1121
True 448
False 1246
True 74
True 318
True 98
True 1465
True 534
True 654
True 173
True 1444
True 569
True 771
True 1518
True 668
True 292
True 1516
True 633
True 506
True 461
True 683
True 1879
True 1829
True 170
True 634
True 606
True 1246
True 743
True 529
True 493
True 846
True 1653
True 955
True 1713
True 462
True 351
True 420
True 931
True 281
True 309
True 243
True 1180
True 1288
True 711
True 1545
True 1078
True 107
True 1491
True 933
True 736
True 785
True 500
True 34
True 711
True 1893
True 1891
True 1350
True 888
True 1506
True 1050
True 179
True 1941
True 276
True 1475
True 99
True 487
True 1046
True 812
True 1783
True 1226
True 107
True 786
False 1273
False 1708
True 1589
True 311
True 71
True 1587
True 990
True 1580
True 398
True 43
True 270
True 1571
True 701
True 1761
True 1576
True 1194
True 1723
True 1429
True 1046
True 1736
True 1760
True 67
True 1473
True 1161
True 383
True 1666
True 1181
True 943
True 366
True 89
True 792
True 1363
True 1942
True 1363
True 1161
True 354
True 713
True 1823
True 677
True 1371
True 363
True 1580
True 1548
False 81
True 1532
True 926
True 241
True 825
True 1661
True 1080
True 702
True 247
True 770
True 1432
True 370
True 779
True 570
True 1344
True 1378
True 861
True 1925
True 727
True 96
True 220
True 1119
True 836
True 1000
True 1511
True 1302
True 254
True 894
True 211
True 461
True 929
True 1620
True 202
True 1144
True 1842
True 1020
True 1708
True 897
False 799
True 679
True 485
True 1381
True 707
True 335
True 1603
True 1494
True 1287
True 1946
True 1504
True 268
True 968
True 895
True 1872
True 1118
True 1935
True 234
True 1455
True 887
True 273
True 1286
True 1271
True 508
True 132
True 1461
True 801
True 1906
True 1137
True 110
True 1871
True 808
True 1860
True 844
True 1039
True 107
True 51
True 1834
True 561
True 289
True 665
True 1035
True 1688
True 1681
True 603
True 331
True 704
True 1634
True 1484
True 19
True 193
True 901
True 1864
True 1077
True 784
True 1222
True 786
True 1293
True 331
True 570
True 547
True 1866
True 589
True 1310
True 1098
True 115
True 911
True 358
True 1310
True 1324
True 1859
True 1259
True 496
True 316
True 1981
True 387
True 432
True 1557
True 1808
True 1298
True 490
True 1356
True 1247
True 360
True 1943
True 679
True 1502
True 1127
True 846
True 1992
True 608
False 430
True 1297
True 618
True 635
True 79
True 556
True 1683
True 253
True 1602
True 1054
True 1727
True 1336
True 1530
True 1938
True 657
True 645
True 1993
True 1460
True 1518
True 1577
True 977
True 913
True 1489
True 57
True 1422
True 1085
True 355
True 1048
True 1983
True 1054
False 1790
True 1297
True 654
True 975
True 605
True 976

## II. Decimal numbers to roman numerals.

The maximum grade for first task (Roman to decimal) is 7 on the 10-point HSE scale. For extra credit, complete the second task: *given a decimal number, convert it to the Roman form*.

In [0]:
import sys
  

def decimal_to_roman(dec):
    """Convert a decimal to the Roman form.
    
    Parameters
    ----------
    dec : int
        A positive integer number
    
    Returns
    -------
    rom : str
        A string representation of a Roman numeral form of `dec`.
    """
    if dec < 0 and dec >= 3999:
      print("can't convert this!")
      sys.exit()
    tmp = dec
    rom = ''
    base = 1000
    while tmp > 0:
      if tmp >= 9*base:
        rom = rom + list(mapping.keys())[list(mapping.values()).index(base)] + list(mapping.keys())[list(mapping.values()).index(10*base)]
        tmp = tmp - 9*base
      elif tmp >= 5*base:
        rom = rom + list(mapping.keys())[list(mapping.values()).index(5*base)]
        tmp = tmp - 5*base    
      elif tmp >= 4*base:
        rom = rom + list(mapping.keys())[list(mapping.values()).index(base)] + list(mapping.keys())[list(mapping.values()).index(5*base)]
        tmp = tmp - 4*base
      while tmp >= base:
        rom = rom + list(mapping.keys())[list(mapping.values()).index(base)]
        tmp = tmp - base
      base = int(base/10)
    return rom

You need to come up with test cases to show that your conversion works as expected. 
NB: the conversion is ambiguous in some cases. Any valid conversion is accepted.

Now, put false decimal numbers from previous set of tests in ascending order, convert them to Roman numerals and list them in respected field in Google Form for this lesson.

In [0]:
test_pairs = [("IX", 9), ("XI", 11), ("MCCII", 1202), ("MMXVIII", 2018), ("XLIX", 49),
              ("XVIIII", 19), ("XIX", 19), ("MCDXLIV", 1444), ("MCMXCIX", 1999)]

for rom, dec in test_pairs:
    converted = decimal_to_roman(dec)
    print(converted == rom,dec, converted, rom)

True 9 IX IX
True 11 XI XI
True 1202 MCCII MCCII
True 2018 MMXVIII MMXVIII
True 49 XLIX XLIX
False 19 XIX XVIIII
True 19 XIX XIX
True 1444 MCDXLIV MCDXLIV
True 1999 MCMXCIX MCMXCIX

In [0]:
p = "tests_decimal_to_roman.txt"
with open(p, "rb") as fp:
    lines=fp.readlines()

test_data = [line.strip().decode("ascii").split(',') for line in lines]
test_data = [(line[0], int(line[1])) for line in test_data]

for rom, dec in test_data:
    converted = roman_to_decimal(rom)
    print(converted == dec, dec)

True 892
True 1724
True 150
True 1151
True 241
True 1733
True 1101
True 112
True 338
True 1720
True 702
True 1484
True 763
False 1886
True 1716
True 820
True 777
True 1882
True 973
True 962
True 1289
True 1415
True 1437
True 269
True 534
True 638
True 131
True 173
True 1587
True 1165
True 290
True 1740
True 1296
True 1940
True 1265
True 347
True 728
True 1303
True 800
True 1730
True 1607
True 1972
True 1547
True 401
True 523
True 183
False 978
True 1579
True 1204
True 1106
True 1040
True 1615
True 742
False 1841
True 336
True 1176
True 105
True 968
True 312
True 282
True 1370
True 590
True 132
True 290
True 1933
True 1093
True 1254
True 1512
True 1020
True 1199
True 835
True 1814
True 1615
True 478
True 1204
True 1516
True 794
True 1229
True 621
True 1816
True 1770
True 626
True 1539
True 467
True 1667
True 802
True 1807
True 878
True 130
True 1473
True 62
True 851
True 1703
True 544
True 525
True 658
True 487
True 1595
True 1093
True 1352
True 344
True 1180
True 1976
True 1515
True 722
True 655
True 996
True 149
True 266
True 1985
True 1760
False 1804
True 431
True 1520
True 1578
True 379
True 1662
True 1358
True 110
True 661
True 1394
True 1639
True 877
True 1978
True 387
True 668
True 1211
True 618
True 1936
True 658
True 456
True 1546
True 78
True 1361
True 738
True 1362
True 272
True 921
True 763
True 1967
True 332
True 925
True 1002
True 131
True 1627
True 1904
True 799
True 332
True 974
True 1897
True 395
True 1597
True 930
True 110
True 1661
True 1144
True 1371
True 302
True 722
True 669
True 462
True 1402
True 954
True 1470
True 1429
True 106
True 990
True 1541
True 766
True 408
True 189
True 309
True 605
True 28
True 678
True 1483
True 29
True 1078
True 163
True 1093
True 1502
True 1674
True 837
False 1807
True 1025
True 1984
True 1375
True 724
True 830
True 1484
True 266
True 1552
True 1868
True 1291
True 1203
True 164
True 1923
True 1594
True 1000
True 1065
True 767
True 554
True 594
True 1489
True 1204
True 214
True 1262
True 841
True 20
True 579
True 1004
True 651
True 375
True 1997
True 1636
True 1549
True 1396
True 269
True 1786
True 1024
True 1032
True 936
True 28
True 1660
True 678
True 469
True 66
True 1959
True 1106
True 614
True 756
True 1098
True 1237
True 1998
True 223
True 991
True 135
True 384
True 1687
True 1495
True 198
True 711
True 1345
True 1994
True 1997
True 1880
True 596
True 1874
True 1253
True 1087
True 1518
True 1327
True 1182
True 1346
True 1051
True 1196
True 573
True 1511
True 1676
True 981
True 275
True 691
True 697
True 588
True 1964
True 1770
True 665
True 1682
True 218
True 1075
True 1149
True 1122
True 104
True 1602
True 1022
True 679
True 1881
True 1940
True 977
True 1565
True 9
True 1645
True 1808
True 1013
True 33
False 1975
True 1884
True 906
True 1870
True 1126
True 959
True 104
True 654
True 1177
True 1814
True 63
True 1849
True 175
True 1469
True 1618